<div class="container">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-header p-5 d-flex justify-content-center">
          <img
            src="../../../assets/spotify-icons-logos/logos/01_RGB/02_PNG/Spotify_Logo_RGB_Green.png"
            alt="Spotify Logo"
            height="10"
            id="spotify-logo"
          />
        </div>
        <div class="card-body d-flex justify-content-center">
          <button class="btn btn-login btn-lg" (click)="requestAuthorization()">
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
