/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

:root {
    --sp-black: #191414;
    --sp-white: #fff;
    --sp-green: #1db95d;
}

body {
    min-height: 100vh;
    background-color: var(--sp-black);
}